:root {
	--prim: #FF6157;
	--bg: #42404B;
}

body { color: var(--bg); background: #ddd; font-family: Montserrat; }


@media (min-width: 1333px) {
    body {
        font-size: 1.2vw;
    }
}

@media (min-width: 1666px) {
    body {
        font-size: 20px;
    }
}

.fw-1 { font-weight: 100; }
.fw-2 { font-weight: 200; }
.fw-3 { font-weight: 300; }
.fw-4 { font-weight: 400; }
.fw-5 { font-weight: 500; }
.fw-6 { font-weight: 600; }
.fw-7 { font-weight: 700; }
.fw-8 { font-weight: 800; }
.fw-9 { font-weight: 900; }


header, footer { background: white; padding: 0.7em 1em 0.5em;  }
header { background: white; border-bottom: 1px solid #ccc; }
footer { background: var(--bg); border-top: 1px solid #2a292e;}

sidebar.right { background: white; padding: 1em; }

#main .left { flex: 1; font-weight: 600; padding-top: 2em; min-width: 150px; max-width: 250px; }

section { margin-bottom: 3em; }

/* h2 { color: var(--prim); } */

.checkbox { background: var(--prim); border-radius: 2px; display:inline-block; height: 20px; width: 23px; position:relative; }
.checkbox svg { position: absolute;     top: -7px;
    left: 2px; }

.checklist { font-weight: 600; }
.checklist-item { display: flex; align-items: center; margin-bottom: 1em; }
.checklist-item .checkbox { margin-right: 0.7em; }

.icon-item { display: flex; align-items: center; margin-bottom: 1em; }
.icon-item .icon { margin-right: 0.7em; }


.page-home { display: flex; }

.breadcrumbs { display: flex; align-items: stretch; }
.crumb { display: flex; }
.crumb a { padding: 0.6em 0.6em 0.4em; display: flex; align-items: center; text-decoration: none; color: var(--bg); font-weight: bold; }
.crumb a:hover { background: #eee; }


#dx .main { display: flex; }
#root { flex: 1; }

#dx > .header { background: white; display: flex; align-items: stretch; position: relative; z-index: 10; box-shadow: 0px 5px 5px rgba(0,0,0,0.1); height: var(--main-header-height); }

.logo { padding: 0.6em 0.5em 0.4em; cursor:pointer; margin-left: 1em; display: flex; align-items: center; }
.logo:hover { background: #eee; }
.logo-img { height: 1.6em; }

#root.pad { padding: 3em 4em; }

.card { background: white; max-width: 48em; padding: 1.5em 2em; }
#root > .card { padding: 3em 4em 4em; }

button, .button { 
	font-family: Montserrat;
	font-size: 1em;  
	padding: 0.25em 0.75em;
	cursor: pointer; 
	margin-right: 0.5em;
	margin-bottom: 1em;
	font-weight: 500;
}

button.prim, .button.prim {background: var(--prim); color: white; border: 2px solid var(--prim); border-radius: 3px; }
button.prim:hover, .button.prim:hover { background: color-mix(in srgb, var(--prim), black 10%); }
.card h1 { margin-bottom: 0.5em; }
.card p { margin-bottom: 1.5em; }


:root {
	--main-header-height: 2.6em;
}
	
#root {
	min-height: calc(100vh - var(--main-header-height)); 
}


.flex-wrap { flex-wrap: wrap; }

.min-w-400 { min-width: 400px; }

#root { container-type: inline-size; }

.flex-gap-1 { gap: 1em; }